.TodoTemplate {
  margin: 2rem auto;
  width: 512px;

  .app-title {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: #22b8cf;
    color: white;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
  }

  .content {
    background: white;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}
